### **`A Quick Tour of Variables and Data Types in Python`**

![](https://i.imgur.com/6cg2E9Q.png)



This tutorial series is a beginner-friendly introduction to programming and data analysis using the Python programming language. These tutorials take a practical and coding-focused approach. The best way to learn the material is to execute the code and experiment with it yourself.

## Storing information using variables

>Computers are useful for two purposes: storing information (also known as data) and performing operations on stored data. While working with a programming language such as Python, data is stored in variables. You can think of variables are containers for storing data. The data stored within a variable is called its value. Creating variables in Python is pretty easy.

In [1]:
my_favorite_color = "blue"

>>A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator `=` followed by the value to be stored within the variable.  Note that the assignment operator `=` is different from the equality comparison operator `==`.

You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.

In [2]:
color1, color2, color3 = "red", "green", "blue"

>>>You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [3]:
color1, color2, color3 = "red"

>You can change the value stored within a variable by assigning a new value to it using another assignment statement. Be careful while reassigning variables: when you assign a new value to the variable, the old value is lost and no longer accessible.

In [4]:
my_favorite_color = "red"

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [5]:
counter = 10

In [6]:
counter = counter + 1

In [8]:
counter

11

>>The pattern `var = var op something` (where `op` is an arithmetic operator like `+`, `-`, `*`, `/`) is very common, so Python provides a *shorthand* syntax for it.

In [9]:
# Same as `counter = counter + 4`
counter += 4

Variable names can be short (`a`, `x`, `y`, etc.) or descriptive ( `my_favorite_color`, `profit_margin`, `the_3_musketeers`, etc.). However, you must follow these rules while naming Python variables:

* A variable's name must start with a letter or the underscore character `_`. It cannot begin with a number.
* A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* Variable names are case-sensitive, i.e., `a_variable`, `A_Variable`, and `A_VARIABLE` are all different variables.

Here are some valid variable names:

In [10]:
a_variable = 23
is_today_Saturday = False
my_favorite_car = "Delorean"
the_3_musketeers = ["Athos", "Porthos", "Aramis"]

Let's try creating some variables with invalid names. Python prints a syntax error if your variable's name is invalid.

> **Syntax**: The syntax of a programming language refers to the rules that govern the structure of a valid instruction or *statement*. If a statement does not follow these rules, Python stops execution and informs you that there is a *syntax error*. You can think of syntax as the rules of grammar for a programming language.

In [ ]:
a variable = 23
is_today_$aturday = False
my-favorite-car = "Delorean"
3_musketeers = ["Athos", "Porthos", "Aramis"]

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function.

In [11]:
a_variable

23

In [13]:
type(a_variable)
type(is_today_Saturday)
type(my_favorite_car)
type(the_3_musketeers)

list

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

Unlike some other programming languages, integers in Python can be arbitrarily large (or small). There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int`, etc. in C/C++/Java).

### Float

Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type `float`.

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [14]:
one_hundredth = 1e-2

In [15]:
one_hundredth

0.01

In [16]:
type(one_hundredth)

float

In [17]:
avogadro_number = 6.02214076e23

In [18]:
avogadro_number

6.02214076e+23

While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.

In [19]:
type(45 * 3.0)

float

In [20]:
type(10//2)

int

In [21]:
type(10/2)

float

### Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a *truthy* value).

In [22]:
bool(False)
bool(0)
bool(0.0)
bool(None)
bool("")
bool([])
bool(())
bool({})
bool(set())
bool(range(0))

False

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [1]:
nothing = None

In [2]:
type(nothing)

NoneType

### String

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [3]:
today = "Saturday"

In [4]:
type(today)

str

* You can use single quotes inside a string written with double quotes, and vice versa.
* To use a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [5]:
my_favorite_movie = "One Flew over the Cuckoo's Nest" 
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot.'
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."