### **`A Quick Tour of Variables and Data Types in Python`**

![](https://i.imgur.com/6cg2E9Q.png)



This tutorial series is a beginner-friendly introduction to programming and data analysis using the Python programming language. These tutorials take a practical and coding-focused approach. The best way to learn the material is to execute the code and experiment with it yourself.

## Storing information using variables

>Computers are useful for two purposes: storing information (also known as data) and performing operations on stored data. While working with a programming language such as Python, data is stored in variables. You can think of variables are containers for storing data. The data stored within a variable is called its value. Creating variables in Python is pretty easy.

In [ ]:
my_favorite_color = "blue"

In [ ]:
x = 2

Write a python program that store 12 and 45 in two variables and perform different arthimetic operations(add, sub, div, product, floor division, remainder and power)

In [ ]:
num1 = float(input("Enter the first number"))
num2 = float(input("Enter the second number"))
sum = num1 + num2
print(type(num1))
print(type(num2))
print("summation of two number: ", sum)

>>>Modify the above program by accepting `two`  `floating point` value and perform different arthimetic operations

In [ ]:
num1=float(input("Enter the first number: "))
num2=float(input("Enter the second number: "))
print(num1+num2)
print(type(num1))
#print(num1-num2)
#print(num1*num2)
#print(num1//num2)
#print(num1**num2)

>>A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator `=` followed by the value to be stored within the variable.  Note that the assignment operator `=` is different from the equality comparison operator `==`.

You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.

In [ ]:
color1, color2, color3 = "red", "green", "blue"

>>>You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [ ]:
color1, color2, color3 = "red"

>You can change the value stored within a variable by assigning a new value to it using another assignment statement. Be careful while reassigning variables: when you assign a new value to the variable, the old value is lost and no longer accessible.

In [ ]:
my_favorite_color = "red"

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [ ]:
counter = 10

In [ ]:
counter = counter + 1

In [ ]:
counter

>>The pattern `var = var op something` (where `op` is an arithmetic operator like `+`, `-`, `*`, `/`) is very common, so Python provides a *shorthand* syntax for it.

In [ ]:
# Same as `counter = counter + 4`
counter += 4

Variable names can be short (`a`, `x`, `y`, etc.) or descriptive ( `my_favorite_color`, `profit_margin`, `the_3_musketeers`, etc.). However, you must follow these rules while naming Python variables:

* A variable's name must start with a letter or the underscore character `_`. It cannot begin with a number.
* A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* Variable names are case-sensitive, i.e., `a_variable`, `A_Variable`, and `A_VARIABLE` are all different variables.

Here are some valid variable names:

In [ ]:
"""a variable = 23
is_today_$aturday = False
my-favorite_car = "Delorean"
3_musketeers = ["Athos", "Porthos", "Aramis"]"""

Let's try creating some variables with invalid names. Python prints a syntax error if your variable's name is invalid.

> **Syntax**: The syntax of a programming language refers to the rules that govern the structure of a valid instruction or *statement*. If a statement does not follow these rules, Python stops execution and informs you that there is a *syntax error*. You can think of syntax as the rules of grammar for a programming language.

In [ ]:
a_variable = 23
is_today_Saturday = True
my_favorite_car = "Delorean"
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
print(the_3_musketeers[1])

In [ ]:
x = 3
if x != 3:
    pass
else:
    print("the number is not something")

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function.

In [ ]:
print(type(a_variable))
print(type(is_today_Saturday))
print(type(my_favorite_car))
print(type(the_3_musketeers))

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### `Integer`

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

Unlike some other programming languages, integers in Python can be arbitrarily large (or small). There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int`, etc. in C/C++/Java).

### `Float`

Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type `float`.

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [ ]:
one_hundredth = 1e-2

In [ ]:
one_hundredth

In [ ]:
type(one_hundredth)

In [ ]:
avogadro_number = 6.02214076e23

In [ ]:
avogadro_number

While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.

In [ ]:
type(45 * 3.0)

In [ ]:
type(10//2)

In [ ]:
type(10/2)

### `Boolean`

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a *truthy* value).

In [ ]:
bool(False)
bool(0)
bool(0.0)
bool(None)
bool("")
bool([])
bool(())
bool({})
bool(set())
bool(range(0))

### `None`

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [ ]:
nothing = None

In [ ]:
type(nothing)

### `String`

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [ ]:
today = "Saturday"

In [ ]:
type(today)

* You can use single quotes inside a string written with double quotes, and vice versa.
* To use a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [ ]:
my_favorite_movie = "One Flew over the Cuckoo's Nest" 
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot.'
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

>You can check the length of a string using the len function.
>Note that special characters like \n and escaped characters like \" count as a single character, even though they are written and sometimes printed as two characters.

In [ ]:
len("Python\nprogramming")

1. You can access individual characters within a string using the [] indexing notation. Note the character indices go from 0 to n-1, where n is the length of the string.
2. You can access a part of a string using by providing a `start:end` range instead of a single index in [].
3. You can also check whether a string contains a some text using the `in` operator.
4. Two or more strings can be joined or concatenated using the + operator. Be careful while concatenating strings, sometimes you may need to add a space character " " between words.

In [ ]:
today = "Saturday"

In [ ]:
today[2]

In [ ]:
today[5:8]

In [ ]:
'to' in today

In [ ]:
full_name = "Isak Ibrahim"
greeting = "Hello, " + full_name + "!"

* Strings in Python have many built-in methods that are used to manipulate them. Let's try out some common string methods.

> **Methods**: Methods are functions associated with data types and are accessed using the `.` notation e.g. `variable_name.method()` or `"a string".method()`. Methods are a powerful technique for associating common operations with values of specific data types.

The `.lower()`, `.upper()` and `.capitalize()` methods are used to change the case of the characters.

In [ ]:
print(today.lower()) # change the all letters into small letters
print(today.upper()) # change the all letters into uppercase letters
print(today.capitalize()) # change the first letter into capital letter

>The `.replace` method replaces a part of the string with another string. It takes the portion to be replaced and the replacement text as *inputs* or *arguments*.

In [ ]:
another_day = today.replace("Satur","sun")

In [ ]:
another_day

In [ ]:
another_day

>The `.format` method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. You can use `format` to construct output messages for display.

### `List`

* An ordered, mutable (changeable) collection of items. Items can be of any type and duplicates are allowed.

* `Syntax: my_list = [item1, item2, item3]`
1. `When to use:` 
* When you need to store a sequence of items that may change (add, remove, or modify items).
1. `Real-world example:`
A list of students in a classroom.
* A list in Python is an ordered collection of values. Lists can hold values of different data types and support operations to add, remove, and change values. Lists have the type `list`.

To create a list, enclose a sequence of values within square brackets `[` and `]`, separated by commas.

>>Let's try creating a list containing values of different data types, including another list.

 ### `Applicable for:`
* To-do lists
* Collections of objects that may change
* Iterating over items in order

In [ ]:
fruits = ['apple', 'banana', 'cherry']

In [ ]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]
empty_list = []

In [ ]:
a_list

>> To determine the number of values in a list, use the `len` function. You can use `len`  to determine the number of values in several other data types.
> 
You can access an element from the list using its *index*, e.g., `fruits[2]` returns the element at index 2 within the list `fruits`. The starting index of a list is 0.

>>You can use negative indices to access elements from the end of a list, e.g., `fruits[-1]` returns the last element, `fruits[-2]` returns the second last element, and so on.

In [ ]:
len(empty_list)
fruits[1]
fruits[-3]

In [ ]:
names = ["moses", "eve", "isak", "Ibrahim", "Jacob", "adem", 1,3,7,10]

In [ ]:
names[:-7]

* A new value can be added to the end of a list using the `append` method.
* A new value can also be inserted at a specific index using the `insert` method.
* You can remove a value from a list using the `remove` method.
* >What happens if a list has multiple instances of the value passed to `.remove`? Try it out.
* To remove an element from a specific index, use the `pop` method. The method also returns the removed element.
* If no index is provided, the `pop` method removes the last element of the list.
* You can test whether a list contains a value using the `in` operator.
* To combine two or more lists, use the `+` operator. This operation is also called *concatenation*.
* To create a copy of a list, use the `copy` method. Modifying the copied list does not affect the original.

In [ ]:
names.append('dates')
names.insert(1, 'banana')
names.remove('isak')
names.pop(1)
names.pop()
'pineapple' in names
more_fruits = names + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']
more_fruits_copy = more_fruits.copy()

In [ ]:
more_fruits_copy

In [ ]:
# Reverse the order of elements in a list
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)  # Output: [5, 4, 3, 2, 1]
# or
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print(reversed_list)  # Output: [5, 4, 3, 2, 1]

In [ ]:
  # Add the elements of one list at the end of another list
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)  # Output: [1, 2, 3, 4, 5, 6]
       #Or, using the + operator (creates a new list):
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined = list1 + list2
print(combined)  # Output: [1, 2, 3, 4, 5, 6]

In [ ]:
# Sort a list of strings in alphabetical order
words = ["banana", "apple", "cherry"]
words.sort()
print(words)  # Output: ['apple', 'banana', 'cherry']
#  Or, to create a new sorted list:
words = ["banana", "apple", "cherry"]
sorted_words = sorted(words)
print(sorted_words)  # Output: ['apple', 'banana', 'cherry']

In [ ]:
             # Sort a list of numbers in decreasing order
numbers = [3, 1, 4, 2, 5]
numbers.sort(reverse=True)
print(numbers)  # Output: [5, 4, 3, 2, 1]
             #Or, to create a new sorted list:
numbers = [3, 1, 4, 2, 5]
sorted_numbers = sorted(numbers, reverse=True)
print(sorted_numbers)  # Output: [5, 4, 3, 2, 1]

### `Tuple`

A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses `(` and `)`, separated by commas.

> Any data structure that cannot be modified after creation is called *immutable*. You can think of tuples as immutable lists.
* `Syntax: my_tuple = (item1, item2, item3)`

Let's try some experiments with tuples.

Real-world example:
`Storing the latitude and longitude of a location.`

In [ ]:
location = (9.0054, "N", 38.7636 ,"E")  # Addis ababa City coordinates
# location[0] = 41.0  # This will raise an error because tuples are immutable
print(location)  # (40.7128, -74.0060)

### `Applicable for:`
1. Coordinates (latitude, longitude)
2. RGB color values
3. Data that should not be modified

In [ ]:
""" 1. count(): Returns the number of times a specified value appears in the tuple.
Example:"""
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))  # Output: 3

In [ ]:
"""2. index(): Returns the index (position) of the first occurrence of the specified value in the tuple.
If the value is not found, it raises a ValueError.
Example:"""

my_tuple = ('a', 'b', 'c', 'b')
print(my_tuple.index('b'))  # Output: 1

>> You can convert a list into a tuple using the `tuple` function, and vice versa using the `list` function

In [ ]:
tuple(['one', 'two', 'three'])
list(('Athos', 'Porthos', 'Aramis'))

### `Dictionary`

A dictionary is an unordered collection of items. Each item stored in a dictionary has a `key and value`. You can use a key to retrieve the corresponding value from the dictionary.  Dictionaries have the type `dict`.

Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable. Dictionaries are created by enclosing key-value pairs within braces or curly brackets `{` and `}`.

In [ ]:
person1 = {
    'name': 'Lucas Emahus',
    'sex': 'Male',
    'age': 32,
    'married': True
}

In [ ]:
students = {
    "student1": {
        "name": "Alice Johnson",
        "age": 20,
        "major": "Computer Science",
        "grades": {
            "math": 85,
            "science": 92,
            "english": 78
        },
        "contact": {
            "email": "alice@email.com",
            "phone": "123-456-7890"
        }
    },
    "student2": {
        "name": "Bob Smith",
        "age": 22,
        "major": "Physics",
        "grades": {
            "math": 90,
            "science": 88,
            "english": 85
        },
        "contact": {
            "email": "bob@email.com",
            "phone": "987-654-3210"
        }
    }
}

# Access nested data
print(students["student1"]["name"])  # Output: Alice Johnson
print(students["student1"]["grades"]["math"])  # Output: 85
print(students["student2"]["contact"]["email"])  # Output: bob@email.com

> Dictionaries can also be created using the `dict` function.

In [ ]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)

In [ ]:
#Keys can be used to access values using square brackets `[` and `]`.
person1['name']

In [ ]:
#You can also use the `get` method to access the value associated with a key.
person2.get("name")
#The `get` method also accepts a default value, returned if the key is not present in the dictionary.
person2.get("address", "Unknown")
#You can check whether a key is present in a dictionary using the `in` operator.
'name' in person1
#You can change the value associated with a key using the assignment operator.
person2['married'] = True
#The assignment operator can also be used to add new key-value pairs to the dictionary.
person1['address'] = '1, Penny Lane'

* To remove a key and the associated value from a dictionary, use the `pop` method.
* Dictionaries also provide methods to view the list of keys, values, or key-value pairs inside it.

In [ ]:
person1.pop('address')

In [ ]:
person1.keys()
person1.values()
print(person1.items())

<center><b>End of Data types</b></center>
<center><b>Thank you!</b></center>